<h1>Dag <%= firstname %>,</h1>

<p>
  Klik op de onderstaande link om je wachtwoord opnieuw instellen.
</p>

<p>
  <a href="<%= verifyHref %>"><%= verifyHref %></a>
</p><br>

<p>
  of kopieer deze paswoord-reset-code: <b><%= token %></b>
</p><br>

<p>
  Ben je niet <b><%= firstname %> <%= lastname %></b>, dan mag je deze mail negeren.
</p><br>

<img src="http://www.langua.be/assets/img/logo-colors.png"></img>