<h1>Dag <%= firstname %>,</h1>

<p>
  Bedankt om te registreren.  Klik op de link om de registratie te voltooien.
</p>

<p>
  <a href="<%= verifyHref %>"><%= verifyHref %></a>
</p><br>

<p>
  Ben je niet <b><%= firstname %> <%= lastname %></b>, dan mag je deze mail negeren.
</p><br>

<img src="https://development.langua.be/assets/img/logo-colors.png"></img>